{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- <meta> tags always go inside the <head> element, 
        typically used to specify character set, page description, 
        keywords, author of the document, and viewport settings.
        (www.w3schools.com) -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'style.css' %}" />
    <title>Khansa's Web</title>
</head>
<body style="background-color: #bfdbf3">
    <div id="topFeatured">
        <h1>
            <br>My Profile
            <br>     
        </h1>
    </div>
    

    <div style="text-align:center;">
        <img src="{% static 'image2.png' %}" 
        alt="My Picture" style="height:500px; width:500px;"> </img>
    </div>
    

    <h2 style="text-align:center; font-family:'Lucida Bright';">
        Nabila Khansa
        <br>
        (1906293221)
    </h2>
    <h3 style="text-align:center; font-family:'Lucida Bright';">
        Ilmu Komputer 2019
        <br>
        Universitas Indonesia
    </h3>
    <br>

    <div style="text-align:center; padding: 10px;">
        <table class="toMiddle">
            <tr>
                <th style="font-family:'Lucida Bright'; font-size: 25px;">
                    About Me
                </th>
                <th></th>
                <td style="font-family:'Times New Roman'; font-size:20px;">
                    <br>An ambivert with a steady source of 
                    <br>motivation that drives me to do my best.
                </td>
            </tr>
        </table>
    </div>

    <div style="text-align:center;" class="toMiddle">
        <table class="toMiddle">
            <tr>
                <th style="font-family:'Lucida Bright'; font-size: 25px;">
                    Hobby</th>
                <th></th>
                <td style="font-family:'Times New Roman'; font-size:20px;">
                    <br>Wushu
                    <br>Volleyball
                </td>
            </tr>
        </table>
    </div>

    <div class="fontStyle" style="padding: 20px;">
        <table class="toMiddle">
            <tr>
                <th>Formal Education</th>
                <th></th>
                <th>Year</th>
            </tr>
                    <tr>
                        <td>Universitas Indonesia</td>
                        <td>   </td>
                        <td>2019 - Now</td>
                    </tr>
                    <tr>
                        <td>SMAN 2 Kota Tangerang Selatan</td>
                        <td>   </td>
                        <td>2017 -2019</td>
                    </tr>
                    <tr>
                        <td>Mutiara Harapan Junior High School</td>
                        <td>   </td>
                        <td>2014-2017</td>
                    </tr>
                    <tr>
                        <td>Mutiara Harapan Primary School</td>
                        <td>   </td>
                        <td>2008 - 2014</td>
                    </tr>
        </table>

        <table class="toMiddle">
            <tr>
                <th>Informal Education</th>
                <th></th>
                <th>Year</th>
            </tr>
                    <tr>
                        <td>Wushu Gerak Naga</td>
                        <td>   </td>
                        <td>2019 - Now</td>
                    </tr>
                    <tr>
                        <td>Wiem Sapulette Boxing Club</td>
                        <td>   </td>
                        <td>2017 - 2018</td>
                    </tr>
                    <tr>
                        <td>Grandmaster Taekwondo Club</td>
                        <td>   </td>
                        <td>2016</td>
                    </tr>
                    <tr>
                        <td>MH Taekwondo Club</td>
                        <td>   </td>
                        <td>2010 - 2016</td>
                    </tr> 
        </table> 
    </div>

    <div class="toMiddle; fontStyle" style="text-align: center;">
        <h2 style="font-size: 25px;">
            <b>Personal 
            Information</b>
        </h2>
        <ul style="font-size: 15px;">
        <li>Date/Place of Birth : March 05, 2002 / Jakarta</li>
            <li>Home Address : Perum. Pd. Jagung 2 GS17/06</li>
            <li>Phone Number : 0821-1433-6734</li>
            <li>Email Address : nabila.khansa91@ui.ac.id</li>
        </ul>
    </div>


</body>
<footer>

    <br>
    <div style="text-align:center; font-family:'Times New Roman';">
        <p>
            -- Find Me --
        </p>

        <button onclick="location.href='https://www.instagram.com/kanziebub'" type="button">
            <img src="{% static 'instalogo.png' %}"
            alt="Instagram" style="height:50px; width:50px;">
        </button>
        
    </div>
    
</footer>
</html>
