#topFeatured {
    color: #3a3e50;
    text-align: center;
}

.fontStyle {
    font-family:'Times New Roman'; 
    align-content:center; 
    font-size:20px;
}

.toMiddle {
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}